@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#site-name-label { 
  text-align: center;
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}

.site-name-button {
  border: none;
  background: none;
}

.site-name-button.chapter-selected {
  border-top:    1px dotted white;
  border-bottom: 1px dotted white;
  border-right: 6px solid white;
  border-left:  6px solid white;
  border-radius: 15px;
}

#next-page-button {
  list-style-image: url("chrome://abhere2/skin/next-page-32.png");
}

toolbar[iconsize="small"] #next-page-button {
  list-style-image: url("chrome://abhere2/skin/next-page-16.png");
}

.no-margin {
  margin: 0;
  padding: 0;
}

#editBookmarkPanel .resizer:hover {
  cursor: s-resize;
  background-color: -moz-menuhover;
}

#editBMPanel_folderTree {
  min-height: 40px;
}
#editBMPanel_tagsSelector {
  min-height: 20px;
}
#editBMPanel_descriptionField {
  min-height: 20px;
}

listrows {
  -moz-binding: url("chrome://abhere2/content/listbox.xml#listrows");
}

tree[disabled] {
  -moz-user-input: disabled;
  -moz-user-focus: ignore;
  color: GrayText;
}

radio[pane="pane-main"] {
  list-style-image: url("chrome://abhere2/skin/abhere32x32.png");
}
radio[pane="pane-menu"] {
  list-style-image: url("chrome://abhere2/skin/menu.png");
}
radio[pane="pane-panel"] {
  list-style-image: url("chrome://abhere2/skin/panel.png");
}
radio[pane="pane-advanced"] {
  list-style-image: url("chrome://abhere2/skin/advanced.png");
}
